---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Cover from "../../assets/screenshots/covervideo-ok.jpg";
---

<Layout
	title="Taller Online Fórmulas para la Fabricación de la Quena"
	description="Inscríbete en mi 'Taller Online Fórmulas para la Fabricación de la Quena' y aprende cómo yo veo las fórmulas, cómo las entiendo, y cómo las utilizo en mi trabajo diario">
	<section class="BlogPost">
		<div class="Container">
			<article class="Article">
				<h1 class="Page-title">
					Taller online: ¿Fórmulas para fabricar quenas? ¿Son necesarias?
				</h1>
				<Image
					src={Cover}
					alt={"Captura de pantalla escena video del taller"}
					width={900}
					class="Post-image"
				/>

				<p>
					Inscríbete en mi Taller online: “Fórmulas para fabricar quenas: ¿Son
					necesarias?” y aprende cómo veo yo las fórmulas, cómo las entiendo, y
					cómo las utilizo en mi trabajo diario. Estoy seguro de que el
					contenido de este Taller te ayudará mucho en tu crecimiento como
					luthier.
				</p>
				<p>
					En este Taller presento un excelente ejercicio que no está en los
					videos públicos de mi Canal de YouTube, y que todo constructor de
					quenas debería practicar regularmente.
				</p>
				<p>
					En este Taller desarrollo una quena desde cero (¿Con o sin fórmulas?
					Ya lo verás) y explico cada detalle del proceso que tiene como
					finalidad entrenar a tu cerebro para convertirte en un verdadero
					maestro.
				</p>
				<h2 id="cómo-se-accede-al-taller">¿Cómo se accede al Taller?</h2>
				<p>
					Solo debes comunicarte conmigo vía correo electrónico a <a
						href="mailto:uribe.domingo@gmail.com">uribe.domingo@gmail.com</a
					> o a través de mi WhatsApp <a href="https://wa.me/56946342437"
						>+56946342437</a
					> para solicitar los datos para pagar, y luego dar aviso del pago. Además,
					deberás indicarme tu correo Gmail personal para darte acceso exclusivo.
				</p>
				<h2 id="hay-un-tiempo-límite-para-ver-el-video-del-taller">
					¿Hay un tiempo límite para ver el video del Taller?
				</h2>
				<p>
					No. El acceso es ilimitado en tiempo. Podrás acceder cuando lo desees.
				</p>
				<h2 id="puedo-distribuir-el-video">¿Puedo distribuir el video?</h2>
				<p>
					No. El video es mi propiedad intelectual protegida, y yo te doy acceso
					privado al contenido protegido. Solo puedes acceder de manera privada,
					y no se permite la distribución, compartir ni dar acceso a otras
					personas.
				</p>
				<p><strong>Detalles del Taller:</strong></p>
				<ul>
					<li><strong>Fecha:</strong> Horarios libres a tu ritmo</li>
					<li><strong>Duración:</strong> 1 hora cronológica</li>
					<li><strong>Plataforma:</strong> Mi Canal de YouTube</li>
				</ul>
				<p><strong>Precio del Acceso al Taller:</strong></p>
				<ul>
					<li><strong>CLP:</strong> $15,000 desde dentro de Chile</li>
					<li><strong>USD:</strong> $20 desde fuera de Chile</li>
				</ul>
			</article>
		</div>
	</section>
</Layout>
