---

---

<small class="Disclaimer-text">
	<p>
		Este precio en peso chileno (CLP) no incluye gastos de envíos locales. Por
		defecto yo envío a sucursales de Chilexpress con ese costo de envío por
		pagar en destino. Contáctame y consulta por otras formas de envío y sus
		costos.
	</p>
	<p>
		El precio en dólar (USD) sí incluye el costo de envío internacional vía DHL,
		UPS o FEDEX, según el destino.
	</p>
</small>


