---
import Bars from "./Bars.astro";
import Brand from "./Brand.astro";
import data from "../../data/sitedata.json";
const { navItems } = data;
---

<Brand />
<Bars />

<nav class="Header-nav">
	{
		navItems.map((item) => (
			<a href={item.link} class="Header-link">
				{item.name}
			</a>
		))
	}
</nav>

<style lang="scss">
	.Header-nav {
		display: flex;
		flex-flow: row nowrap;
		gap: 1em;

		@media screen and (max-width: 840px) {
			position: absolute;
			top: 60px;
			background-color: rgb(30, 5, 58);
			width: 55vw;
			right: 2em;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease;
			height: 0vh;
			overflow: hidden;
			box-shadow: 3px 3px 12px #ffffff25;

			.Header-link {
				color: #fff;
			}

			&.isActive {
				height: 55vh;
			}
		}

		@media screen and (max-width: 840px) {
			top: 46px;

			&.isActive {
				height: 35vh;
			}
		}
	}
	.Header-link {
		color: #000;
		text-decoration: none;
		font-size: 0.8rem;
		text-transform: uppercase;
		font-weight: bolder;
	}
</style>
