---
import oferings from "@/data/dataQuenas";
const { image, alt, title, description, price, id, youtubeLink, detailLink } =
	Astro.props;

import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
	return [
		{ params: { instrument: "quena-ebano-africano" } },
		{ params: { instrument: "quena-ebano-asiatico" } },
		{ params: { instrument: "quena-cocobolo" } },
		{ params: { instrument: "quena-haya-rosada" } },
		{ params: { instrument: "quena-jacaranda" } },
		{ params: { instrument: "quena-bambu" } },
		{ params: { instrument: "quena-pvc" } },
	];
}) satisfies GetStaticPaths;
const { instrument } = Astro.params;
---

<Layout title={instrument} description="algo">
	<h1>{title}</h1>
	<p>{description}</p>
</Layout>
