---
import { Image } from "astro:assets";
import AboutMe from "@/assets/images/aboutMe-transformed.jpeg";
import Layout from "@/layouts/Layout.astro";
import SectionPage from "@/components/SectionPage.astro";
---

<Layout
canonicalURL="about"
  image="/public/MainSiteImage.jpg"
  title="Acerca de mí - Quenas profesionales"
  description="Domingo Uribe Luthier. Especialista en fabricación de quenas de alto nivel para profesionales y público en general."
  keywords="Domingo Uribe, Luthier, Quenas profesionales"
>
  <SectionPage title="Acerca de mí">
    <Image
      src={AboutMe}
      alt={"Foto de mí junto a un torno mecánico"}
      width={1200}
      class="AvatarImage"
    />
    <article class="Article">
      <p class="Page-description">
        ¡Hola! Soy Domingo Uribe, luthier especializado y dedicado al desarrollo
        continuo de la quena. Fabrico y vendo directamente mis propios
        instrumentos musicales y educo con contenidos gratuitos y cursos de pago
        sobre la quena en mis plataformas de YouTube, Facebook e Instagram.
      </p>

      <p>
        Mis primeros recuerdos relacionados con la música, y con el disfrute por
        la música, datan de mi infancia pre escolar en la comuna de Quilicura,
        Santiago de Chile. Contando nada más que con 5 años de edad, cuando me
        acomodaba sentado en el marco de una ventana de la casa de mis padres a
        escuchar la programación de la radio que ellos sintonizaban. Recuerdo
        perfectamente la hermosa voz de Jairo cantar "Para verte feliz", que
        para ese año estaba recién estrenada con su disco homónimo. Recuerdo
        sentir una rica e intensa emoción cuando el locutor anunciaba la canción
        e iba a comenzar la introducción rítmica, para luego pasar al arpegio
        del piano eléctrico, y !Zas¡ Su voz: "Que yo te amo...". Yo no entendía
        la trama de la canción, pero sí sentía en mi interior la música, los
        acordes menores y mayores, el efecto del paso al estribillo y su voz
        cantando "Esas flores que hay en el salón...". Yo, por supuesto, me
        imaginaba lo poco que podía entender de manera muy literal: un jarrón
        con flores en una mesa y a los personajes en negro, como sombras
        moviéndose por "el salón".
      </p>

      <p>
        Cronológicamente, lo siguiente que recuerdo es verme integrando un
        conjunto musical en la escuela Nº 406 de Cerro Navia, que posteriormente
        llegó a llamarse Escuela Básica Violeta Parra. Acá seguramente ya tenía
        unos 8 años de edad. Allí el profesor José Luis Peña se encargaba de
        enseñar a los niños a tocar guitarra, charango, teclado, zampoñas que
        hacía él mismo con PVC, y flauta dulce. Seguramente en algún momento se
        me presentó la opción de elegir instrumento, y elegí de inmediato la
        zampoña y la flauta dulce. Recuerdo que el profesor ponía hilos de
        diferentes colores a los tubos para reconocer y diferenciar visualmente
        cada nota, y que estaban armadas como antaras cromáticas. Así fue que
        comencé con la lógica de reproducir melodías que me aprendía de memoria,
        con la flauta dulce soprano o zampoñas. Con "lógica" me refiero a que
        era muy fácil para mí sacar melodías sin que me las enseñaran porque
        entendía que si la melodía subía, debía quitar más dedos de uno en uno
        hacía arriba, e ir probando el tono, y si era más baja, pues, poner más
        dedos hacia abajo.
      </p>

      <p>
        Como muchos niños de aquella generación en esa escuela, hasta dormía con
        la flauta dulce, y me iba tocándola desde mi casa a la escuela y también
        de regreso por el camino de Avenida La Estrella en mi Cerro Navia
        querido. En ese trayecto era muy común ver niños haciendo eso, todos con
        sus flautitas por la calle tocando, y algunos hasta usándolas mientras
        jugaban con otros niños.
      </p>

      <p>
        Gracias a ese profesor en Cerro Navia surgieron muchos músicos que
        seguimos dedicándonos al arte y otros que se dedicaron a otras cosas
        pero que mantuvieron su habilidad y musicalidad hasta ahora. Conozco a
        algunos.
      </p>

      <h2>Mi encuentro con la quena</h2>

      <p>
        Un día de vacaciones de verano estaba yo en el patio de mi casa, con mi
        flautita, cuando por fuera pasó un chico, uno o dos años mayor que yo,
        con guitarra a la espalda, un pequeño charango de plástico, una zampoña
        y una quena. Iba tarareando y al verlo me acerqué a la reja para
        hablarle: "¡Oye! ¿Qué es ese instrumento que llevas ahí?". "Es una
        quena", me dijo, ofreciéndomela para probarla. Luego de las breves
        instrucciones que me dio, la tomé, cubrí los orificios (Por suerte nunca
        tuve problemas con eso dado mis manos grandes), y soplé...
      </p>

      <p>
        ... y soplé. En ese momento, el tremendo contraste de volúmen que había
        entre mi flautita y esa quena me golpeó muy fuerte en la frente. Sentí
        literalmente un golpe, las ondas de sonido en mi frente, y quedé
        impresionado y paralizado por unos segundos. Recuerdo el color de la
        quena, que era de bambú, y estaba barnizada, y también recuerdo su aroma
        a caña quemada, porque estaba tostada con calor. Era una quena boliviana
        que en aquellos tiempos se conseguían en la feria artesanal Santa Lucía,
        Frente al Cerro del mismo nombre en el centro de Santiago, en el local
        del querido músico y luthier José Luís Matus.
      </p>

      <p>
        A partir de allí no me separé más de la quena. Nos hicimos amigos, y en
        poco tiempo ya estaba aprendiendo más de la zampoña y la quena con él,
        con su hermano y otros amigos que se reunían a tocar canciones de Inti
        Illimani y de Los Kjarkas.
      </p>

      <p>
        En una ocasión con este grupo de amigos y músicos hicimos una reunión
        para elegir a quién sería el vocalista. La prueba era cantar la canción
        "Tiempo al tiempo" de Los Kjarkas. Cada uno debía cantar un trozo de la
        canción desde el inicio. Todos cantaron y cuando llegó mi turno, me
        salieron gallos y desafiné mucho por los nervios, y no alcancé siquiera
        a completar una frase. Así es que se me descartó. Yo me reí, como todos,
        pero me quedé pensando en la situación. Eso me ayudó a interesarme en el
        canto, y finalmente lo logré.
      </p>

      <p>
        Yo pasaba solo en casa prácticamente todo el día, así es que tenía mucho
        tiempo para pensar y meditar en todo lo que iba aprendiendo relacionado
        con la música. Y si no estaba en eso, me la pasaba dando de baja resmas
        de papel dibujando. Pero siempre pensando en la música en segundo plano.
      </p>

      <h2>Viento sobre lluvia</h2>

      <p>
        Después de eso, recuerdo haber participado con un grupo de músicos mucho
        mayores que yo, también de Cerro Navia. Se llamaba "Viento sobre
        lluvia". Yo debo haber tenido unos 13 años. Me asignaron la segunda
        quena. Los hermanos Rodriguez cantaban hermoso, y uno de ellos que
        dirigía era muy estricto con la afinación de las voces, la rítmica y la
        ejecución de los instrumentos. En los ensayos con ellos, como yo era aún
        un niño, me preocupaba mucho cuando paraban una canción para señalar
        errores de afinación e incluso la articulación de las palabras cantadas.
        Me quedaba pensando en cómo era que notaban eso, si había tantos
        instrumentos y voces sonando al mismo tiempo. Eso me gustaba y lo
        asimilé para mí.
      </p>

      <p>
        En mi primera actuación oficial con el grupo Viento Sobre Lluvia, en una
        multicancha fue, en la comuna de Lo Prado, recuerdo que alcanzaba a
        escuchar desde el escenario comentarios de otros músicos que estaban en
        el público, y que después conocí, sobre mi interpretación en las
        zampoñas y eran positivos. Eso me sirvió de mucho, hasta el día de hoy.
        Creo que estimular y encomiar a los músicos jóvenes, con sinceridad, es
        muy importante.
      </p>

      <h2>En el grupo Chañar</h2>

      <p>
        Después, creo que por mis 16 o 17 años, es que me tocó integrar el grupo
        Chañar. Se trataba de un conjunto musical de Cerro Navia sobresaliente
        por la juventud de sus integrantes y por el virtuosismo de cada uno de
        ellos. Luego de que el vientista principal debiera partir al servicio
        militar, se me convocó sin mayores pruebas, porque ellos ya sabían cómo
        estaba mi nivel y estilo para esos tiempos, y más bien solo se me dio
        más instrucciones para poder mantenerme dentro del estilo que ellos
        tenían, y se me hizo muy fácil, porque Rodrigo, el chico que se había
        ido al servicio militar y que tocaba con ellos, era mi amigo, y con él
        tocábamos todas las santas tardes afuera de su casa, o de la mía, luego
        de llegar de la escuela, en donde también éramos compañeros de clase.
      </p>

      <p>
        Con él competíamos casi a modo "saiyayin" por elevar el nivel, porque
        ambos éramos muy exigentes, pero era una competencia muy sana y
        positiva. Cada cosa que podía aprender él cuando no estaba yo presente,
        me la enseñaba, y viceversa.
      </p>

      <p>
        Así es que comencé a tocar con Chañar, y pronto me vi grabando un disco
        con ellos (Lamentablemente nunca se editó). Recuerdo ensayos muy
        exhaustivos y que se celebraban prácticamente todos los días de la
        semana, por al menos 3 horas. Allí volví a encontrarme con la dirección
        estricta en la ejecución de los instrumentos. Acá era mucho más pesado y
        estricto que en el anterior grupo. Las quenas debían sonar perfectas, y
        cuando se tocaban dos quenas en armonías, en lo posible hasta los trinos
        debían ocurrir al mismo tiempo. Algo que me costó un poco fue igualar el
        vibrato que tenía Pedro Huentecura, el vocalista que tocaba también
        algunas primeras quenas en aquel tiempo allí. Creo que nunca lo logré al
        100% mientras estuve con ellos, sino años después cuando comencé mi
        carrera como luthier, y en donde tuve que llegar a dominar muchas
        técnicas de soplido diferentes.
      </p>

      <h2>Y de la luthería ¿Qué?</h2>

      <p>
        Mi paso por el grupo Chañar fue una escuela impagable, porque aprendí
        muchísimo. Hasta pude asimilar tanto la música que llegué a aportar al
        grupo con canciones que compuse en letra y música. Pero lo más memorable
        para mí fue mi experiencia de ver al maestro Juan Huentecura Toro los
        días domingo trabajando en el patio de la casa en donde ensayábamos. Él
        era el padre del luthier Juan Huentecura S, destacado fabricando de
        charangos actualmente. Allí él tenia un banco de carpintero, en donde
        fabricaba charangos y quenas. Me encantaba ver la delicadeza que él
        tenia para ejecutar todos los procesos. Cómo usaba cuchillos que él
        mismo hacía para hacer los orificios en las quenas, fueran de madera o
        de bambú. Yo me sorprendía de cómo era que los dejaba tan perfectamente
        redondos, no ovalados, sin brocas ni taladro eléctrico. Y los bordes de
        esos orificios sin rebabas ni astillas.
      </p>

      <p>
        Yo me la pasaba pensando en cómo trabajaba él. Me acostaba y me
        levantaba pensando y reflexionando en ello. Recordaba el olor de las
        maderas y de los barnices. Repasaba en mi mente cómo es que él hacía
        para barnizar sus charangos y sus quenas, que en ese caso sí requerían
        de barnizado puesto que eran de enchapados de madera. Una vez me
        impresionó tanto verlo aplicar ácido muriático a una superficie de un
        brazo de un charango que iba a pegarse con otra pieza por la respuesta
        que me dio cuándo le pregunté la razón.
      </p>

      <p>
        Sin duda Juan Huentecura Toro fue mi inspiración y parámetro de hacer
        las cosas bien. Un día de esos en que me despertaba pensando en cómo
        hacer las cosas, me dije: "No compraré más quenas en la feria artesanal
        y me las fabricaré yo mismo. Ya sé cómo se hacen". Así fue que comencé a
        estudiar las quenas que tocábamos en Chañar cuando las llevaba a casa
        para practicar. Me la pasaba horas tocando y ensayando el repertorio del
        grupo, y otras otras observándolas, hasta que un día decidí cambiarle el
        color a una de ellas. La lijé, la humedecí con bencina blanca, le quité
        toda la tinta y barnices que tenía, y luego le puse nuevas capas de
        tinta y barniz, y la dejé exactamente igual a cómo era original de la
        mano del maestro. Nadie se dio cuenta, ni siquiera él. Y eso para mi fue
        como pasar un examen. El examen de barnizado y entintado.
      </p>

      <p>
        Luego, con mi padre hicimos tubos de madera de raulí, eucalipto,
        perforados a mano con una broca que mi mismo padre hizo de acero de
        pilares de construcción. La usábamos en el taladro de mano, a puro
        pulso. Logramos perforar perfectamente esos dos tipos de maderas, y
        luego cilindraba la madera por fuera con cepillo eléctrico. Así hice
        varias quenas de maderas en esos tiempos, por mis 18 años de edad creo.
        De hecho, una de esas quenas en este momento debe andar por Suiza,
        porque se la regalé a mi amigo de la escuela Danilo Gatica, que se fue a
        vivir allá.
      </p>

      <p>
        También hice quenas de bambú, con cañas de Copiapó que conseguíamos en
        esos tiempos. También existe una de aquellas que tiene mi amigo Arnaldo
        Miranda, de Cerro Navia hasta el día de hoy.
      </p>

      <p>
        Luego de eso, pasé del Grupo Chañar a otro proyecto musical en donde
        además de ser vientista pude asumir también como vocalista ¡Ahora sí
        podía cantar "Tiempo al tiempo"!. Pero acá no cantábamos música
        boliviana, sino exclusivamente música de nosotros mismos. Ya en
        Cómplices, con Mario Baeza, Víctor Contreras, William Areavena, Ivano
        Valenzuela, Ítalo Cartes, y Héctor Garcés continúo mi crecimiento
        musical, aprendizaje, y experiencia en estudios de grabación y en
        escenarios. Y también pude aprender mucho de Víctor Contreras. Víctor
        tenía otra visión sobre la quena, su interpretación y fabricación, muy
        diferente a lo que yo había aprendido y hacía antes, de modo que me
        sirvió mucho trabajar, tocar y compartir con él para ampliar mi
        experiencia y visión sobre el instrumento.
      </p>

      <h2>Comienzo a fabricar quenas para otros</h2>

      <p>
        Mucho después de eso, cerca de 2013, es que decidí poner a disposición
        de otros músicos mis quenas mediante fabricar y vender. Hasta entonces
        solo fabricaba para mí y para mis amigos o compañeros.
      </p>

      <p>
        Cuando tomé la decisión de hacer quenas para vender yo estaba regresando
        a la música luego de haber estado unos 6 años retirado por asuntos
        personales. Rápidamente pude retomar mi práctica tocando, cantando y mi
        interés por la fabricación de la quena. Comencé a ver en redes sociales
        el trabajo de artesanos de fuera de Chile y me parecía muy superior a lo
        que acá había por esos tiempos. Y pues no era solo un parecer, era un
        hecho. Había mucho más calidad en Perú y en Bolivia que en Chile en
        cuando a la fabricación de la quena.
      </p>

      <p>
        La gran diferencia que había entre las buenas quenas peruanas y
        bolivianas con las hechas en Chile era la afinación, sobre todo de la
        tercera octava. Acá no sabíamos afinar. Todos, sin excepción, tenían el
        mismo error: Las notas do y la de tercera octava siempre estaban mucho
        más altas que el resto de notas, y se notaba. Hasta Illapu tenía ese
        error, que puede verse en el intervalo de si a do en tercera octava en
        la grabación de Sipassy.
      </p>

      <p>
        Yo sentí la necesidad de ofrecer una solución a eso antes de ofrecer mis
        quenas al mundo
      </p>

      <h2>Mi valor agregado</h2>

      <p>
        Así fue que decidí ponerme a estudiar las razones técnicas de esa
        diferencia y no tardé mucho en descubrirla. Una vez zanjado ese problema
        comencé y hasta ahora no he parado, salvo en momentos en que mi salud me
        ha impedido la regularidad. En aquel entonces, comencé a vender mucho y
        decidí parar con mi trabajo anterior que era diseño y programación Web
        parea cambiar totalmente a la actividad de la luthería, y mantenerme
        exclusivamente de esto. Hoy he retomado paralelamente el diseño y la
        programación porque es algo que igualmente me apasiona. Pero la quena y
        la música sigue siendo mi actividad principal y pasión.
      </p>
    </article>
  </SectionPage>
</Layout>

<style lang="scss">
  .AvatarImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 19/9;
  }

  .Article p {
    width: 50%;
  }

  @media screen and (max-width: 800px) {
    .Article p {
      width: 80%;
    }
  }

  @media screen and (max-width: 440px) {
    .Article p {
      width: 100%;
    }
  }
</style>
