---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Blog - Mis artículos sobre la quena, apreciación de los sonidos, y artes en general"
	description="Lee aquí todos mis contenidos acerca de la quena, música y arte en general">
	<section class="About">
		<div class="Container">
			<article class="Article">
				<h2>Blog - Lee mis artículos sobre luthería</h2>
				<p>
					En esta sección podrás leer todo lo que he escrito acerca de la quena
				</p>
			</article>
		</div>
	</section>
</Layout>
