---
import WhatsApp from "../components/social-icons/WhatsApp.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Contáctame"
	description="Mis datos de contacto oficiales y siempre actualizados">
	<section class="Contact">
		<div class="Container">
			<article class="Article">
				<h2>Contáctame</h2>
				<p>
					Escríbeme directamente a mi número de WhatsApp, y encuéntrame y
					sígueme en mis Redes Sociales. Solo da click en cualquier ícono de
					abajo
				</p>
			</article>
		</div>
	</section>
</Layout>

