---
import Layout from "@/layouts/Layout.astro";
import BannerLink from "@/components/BannerLink.astro";
import Button from "@/components/shared/Button.astro";
import SectionPage from "@/components/SectionPage.astro";
---

<Layout
	title="Educación - Mis Cursos y Masterclass"
	description="Conoce mis Cursos de luthería y Masterclass técnicas">
	<SectionPage id="education" title="Cursos y talleres">
		<h2>Conoce mis cursos online vigentes</h2>
		<div class="Banners">
			<BannerLink
				title="Taller Online: ¿Son necesarias las fórmulas para fabricar quenas?"
				text="Comparto mi punto de vista al respecto y enseño un ejercicio de desarrollo de habilidades imprescindible para artesanos y fabricantes de flautas y quenas">
				<iframe
					src="https://www.youtube.com/embed/5o5whl7DgOE?si=-Djw4BoMaFF7h0bd"
					title="YouTube video player"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
				<Button
					classes="Button Button-sm"
					link="/posts/taller-online-formulas/"
					buttonText="Inscríbete"
					target="_self"
				/>
			</BannerLink>

			<BannerLink
				title="Curso de lutheria profesional: Fabricación de quenas de alta calidad"
				text="Este es mi Curso más completo que ya cuenta con alumnos de diversas partes del mundo aprendiendo mis métodos de diseño, fabricación y afinación de la quena de alta calidad">
				<Button
					classes="Button Button-sm"
					link="/posts/taller-online-formulas/"
					buttonText="Inscríbete"
					target="_self"
				/>
			</BannerLink>
		</div>
	</SectionPage>
</Layout>

<style lang="scss">
	.Banners {
		display: grid;
		gap: 2em;
		grid-auto-rows: auto;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
		grid-auto-flow: dense;
		height: auto;
	}
	iframe {
		border: none;
		min-height: 220px;
	}
</style>
