---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Button from "@/components/shared/Button.astro";
import Offering from "@/components/Offering.astro";
import OfferingContainer from "@/components/shared/OfferingContainer.astro";
import offerings from "../data/dataQuenas";
---

<Layout
	title="La Ruta de la Quena - Quenas profesionales de Domingo Uribe"
	description="Luthier especializado en la fabricación de quenas profesionales de bambú, ébano y otras maderas de lujo. Vendo directamente. Envío a todo el mundo."
	image="/MainSiteImage.jpg">
	<Hero
		preTitle="La Ruta de la Quena"
		title="Quenas profesionales de Domingo Uribe"
		body="Soy Domingo Uribe, luthier especializado en el diseño y fabricación de la quena. Este es mi Catálogo de quenas profesionales."
	/>

	<OfferingContainer
		title="Instrumentos destacados"
		description="Estos son mis instrumentos destacados.">
		{offerings.slice(0, 3).map((item) => <Offering {...item} />)}
	</OfferingContainer>

	<div class="Container">
		<Button
			link="/catalog"
			buttonText="Mira mi catálogo completo"
			classes="Button Button-lg Button-center Button-mt"
			target="_self"
		/>
	</div>
</Layout>
