---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Pago exitoso"
	description="El pago se ha realizado correctamente">
	<section class="Contact">
		<div class="Container">
			<div class="Page">
				<article class="Article">
					<h2>Pago vía Flow exitoso</h2>
					<p>
						Has realizado el pago correctamente. Muchas gracias por tu
						preferencia
					</p>
				</article>
			</div>
		</div>
	</section>
</Layout>
