---
import Layout from "@/layouts/Layout.astro";
import offerings from "../data/dataQuenas";
import OfferingTest from "@/components/OfferingTest.astro";
---

<Layout title="Titulito" description="Fotito">
	<h1>Hola desde Test</h1>

	<OfferingTest
		imagePath="/src/assets/ebano1.jpg"
		altText="alt"
		name="Nombre del producto"
		price={200}
	/>
</Layout>
