---
interface Props {
	title: string;
	text: string;
}

const { title, text } = Astro.props;
---

<div class="Banner">
	<h3 class="Banner-title">{title}</h3>
	<p class="Banner-text">{text}</p>
	<slot />
	<!-- <slot name="buttons-slot" /> -->
	<!-- <slot name="youtube-embed-slot" /> -->
</div>

<style lang="scss">
	.Banner {
		display: flex;
		flex-flow: column nowrap;
		padding: 1em;
		background-color: var(--uiPurple);
		color: whitesmoke;
		border-radius: 1em;
		flex: 1;
		gap: 1em;
		border: solid 1.5px var(--uiGray);

		&-title {
			margin: 0;
		}
		&-text {
			margin: 0;
		}
	}
</style>
