---
import { Image } from "astro:assets";
import HeroBackgroundImg from "../assets/images/hero-image-1.jpg";
import Button from "./shared/Button.astro";
import { fade, slide } from "astro:transitions";

interface Props {
	title: string;
	preTitle: string;
	body: string;
}

const { preTitle, title, body } = Astro.props;
---

<div class="Hero" transition:animate={slide({ duration: "0.8s" })}>
	<div class="Container">
		<div class="Hero-content">
			<span class="Hero-pretitle">{preTitle}</span>
			<h1 class="Hero-title">{title}</h1>
			<p class="Hero-body">{body}</p>
			<div class="Buttons">
				<Button
					classes="Button Button-md Button-primary"
					link="https://www.youtube.com/@domingouribe"
					buttonText="Mi trabajo en YouTube"
					target="_blank"
				/>
				<Button
					classes="Button Button-md"
					link="/catalog"
					buttonText="Catálogo"
					target="_self"
				/>
			</div>
		</div>
		<Image
			src={HeroBackgroundImg}
			alt="Imagen de fondo con dos quenas"
			width={990}
			height={370}
			class="Hero-image"
		/>
	</div>
</div>
<style lang="scss">
	.Hero {
		display: flex;
		width: 100%;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;

		overflow: hidden;
		padding: 3em 0 0;
		gap: 2em;
		margin-bottom: 2em;

		&-content {
			display: flex;
			flex-flow: column;
			gap: 1em;
			color: whitesmoke;
			// flex: 1;
			order: 1;
			padding-bottom: 1em;

			.Buttons {
				display: flex;
				gap: 2em;
			}
		}
		&-image {
			// flex: 1;
			border-radius: 0.5em;
			order: 2;
			width: 100%;
			height: auto;
			object-fit: cover;
			aspect-ratio: 99/37;
		}

		&-pretitle {
			margin: 0 0 -0.8em 0;
			font-size: 2rem;
			font-weight: bold;
		}

		&-title {
			font-size: 4rem;
			font-weight: 900;
			margin: 0;
			line-height: normal;
			text-transform: uppercase;
		}

		&-body {
			margin: 0;
		}

		@media screen and (max-width: 930px) {
			&-image {
				flex: 1;
				width: 100%;
				height: auto;
				margin-top: 1em;
			}
			&-content {
				padding: 1em;
				flex: auto;
			}

			&-pretitle {
				font-size: 1.5rem;
			}

			&-title {
				font-size: 2.5rem;
			}
		}

		@media screen and (max-width: 440px) {
			padding-top: 1em;

			&-pretitle {
				font-size: 1.2rem;
			}

			&-title {
				font-size: 2rem;
			}

			&-image {
				margin-top: 1em;
			}

			.Buttons {
				flex-flow: column nowrap;

				.Button {
					flex-grow: 1;
				}
			}
		}
	}
</style>
