---
interface Props {
	title?: string;
	description?: string;
	id?: string;
}
const { title, description, id } = Astro.props;
---

<section class:list={["Page"]} id={id}>
	<div class="Container">
		<h1 class="Page-title">{title && title}</h1>
		<p>{description && description}</p>
		<slot />
	</div>
</section>

<style lang="scss">
	.Page {
		display: flex;
		flex-flow: columns nowrap;
		gap: 2em;
		justify-content: space-between;

		&-title {
			text-align: left;
			flex-grow: 2;
			width: 100%;
			color: var(--ivoryWhite);
			font-size: 2rem;
			margin: 2rem 0 0 0;
			line-height: 1;
		}
		&-description {
			color: var(--ivoryWhite);
			width: 100%;
			font-size: 1.1rem;
			line-height: 1;
			margin: 0;
		}
	}
</style>
