---
import "../styles/global.scss";
import BaseHead from "../components/shared/BaseHead.astro";
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";
// Supports weights 100-900
import "@fontsource-variable/urbanist";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import { fade } from "astro:transitions";
---

<!doctype html>
<html lang="es-CL" transition:animate={fade({ duration: "0.3s" })}>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
