---
import BaseHead from "@/components/shared/BaseHead.astro";
import Header from "@/components/shared/Header.astro";
import Footer from "@/components/shared/Footer.astro";
const { title, description, frontmatter, image } = Astro.props;
import GoogleAnalytics from "@/components/shared/GoogleAnalytics.astro";
---

<!doctype html>
<html lang="es-CL">
	<head>
		<GoogleAnalytics />
		<BaseHead
			title={frontmatter?.title ?? title}
			description={description}
			image={image}
		/>
		<style is:global lang="scss">
			.Post-full img {
				width: 100%;
				height: auto;
				aspect-ratio: 19/9;

				h1 {
					font-size: 3rem;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="Container">
				<div class="Post-full">
					<slot />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
