---
import BaseHead from "@/components/shared/BaseHead.astro";
import Header from "@/components/shared/Header.astro";
import Footer from "@/components/shared/Footer.astro";

interface Props {
	title: string;
	description: string;
	image: string;
}

const { title, description, image } = Astro.props;
import GoogleAnalytics from "@/components/shared/GoogleAnalytics.astro";
---

<!doctype html>
<html lang="es-CL">
	<head>
		<GoogleAnalytics />
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-WF2J4JBC"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
